body{
    display: grid;
    background-color: #E8D8C5;
    font-family: 'Roboto Mono', monospace;
    color: #1D5763;
    margin:0;
}



aside{
    background-color: #faf4ed;
    grid-column: 1/-1;
    grid-row: 1;
}

ul li{
    list-style-type: square;
}


h1,h2 {
    text-align: center;
}

.notes {
    display: grid;
}

nav {
    grid-row:1;
    display: flex;
    justify-content: right;
    margin:0;
}

nav p{
    margin: 10px;
}

.button{
    font-size: 15px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    padding: 10px;  
}

.upperbuttons{
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
textarea {
    grid-row:3;
    height: 20em;
    background-color: #faf4ed;
    border: 4px solid #71a4eb;
    margin: 10px;
    font-size: large;
}
.lowerbuttons{
    grid-row: 4;
    text-align: right;
    padding: 5px 10px;
}

footer {
    grid-column-start: 2;
    text-align: center;
    margin-top: auto;
}

.newnote.button {
    color: white;
    background-color: #18464E;
  }
  .theme.button {
    color: white;
    background-color:#2E2EAD;
  }

.save.button{
    color: white;
    background-color:#2d7490;
}


.cancel.button{
    color: white;
    background-color:#711009;
}

.button:hover{
    background-color: red;
}

.button:active{
    background-color:gray;
}


@media (min-width: 600px){


/* header {
    grid-column: 1/3;
    grid-row: 1;
} */
    
main {
    display:grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

header {
    grid-column: 2;
}

aside{
    grid-column: 1;
    grid-row: 1/4;
    background-color: #faf4ed;

}

}